
<table>
  <%= render @todos %>
</table>

<% content_for :searchfield do %>
	<%= form_for @search do |f| %>
   		<%= f.text_field :name_contains %>
 		<%= f.submit "Search" %>
	<% end %>
<% end %>