body {
  
  text-align: center;  
}

#site {
  text-align: left;
  margin: 0 auto;
  width: 1500px;
  padding: 0;
  border: 2px ridge silver;
}
#header {
  font-size: 1.5em;
  margin: 0; padding: 0.3em;
  text-align: left;
  border-bottom: 1px solid silver;
}

ul#sidebar {
  font-size: 0.91em;
  float: left; width: 22em;
  margin: 0; padding: 0;
 } 



div#content {
  margin-left: 22em;
  padding: 0 1em;
  min-width: 16em;
  min-height: 300px;
}

div.alert {
  width: 25em;
  background-color: #F7B0B0;
  margin: 10px;
  margin-left: 0;
  padding-left: 1em;
  border: 1px solid;
  border-color: #F30606
}
