<%= form_for(@category) do |f| %>
  
  <div class="field">
    <%= f.label :cname %><br />
    <%= f.text_field :cname %>
  </div>
  
 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>